__pycache__/
!plugins/__init__.py
/*.rdb
.cache
.coverage
.coverage.*
.dmypy.json
.env
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.venv
.vscode/
*.py[cod]
*.tmp
**/.DS_Store
*$py.class
build/
coverage/
dist/
dmypy.json
env.bak/
env/
ENV/
plugins/*
src/*.egg-info/
test-results/
userdata/
venv.bak/
venv/
